.contatti-section {
    top: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
}

.contatti-section p {
    margin: 0;
}

#mappa{
    width: 100%;
    max-width: 1280px;
    height: 500px;
    max-height: 70vh;
    margin-top: 50px;
}