.hero-img {
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.hero-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sfumatura-bianca{
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    bottom: 0px;
}

.hero-text{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    background-color: #0000003d;
    justify-content: center ;

}