@import url('hero-section.css');
@import url('animazioni.css');
@import url('main-section.css');
@import url('led-section.css');
@import url('lamp-section.css');
@import url('contatti-section.css');


#nav{
    height: 60px;
    width: 70vw;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: sticky;
    top: 0px;
    margin-top: 50px;
    box-shadow: 0px 0 0px #00000000;
    z-index: 100000000;
    display: flex;
    /* padding: 0 30px 0 30px; */
    justify-content: center;
    
}
.spazio{
    height: 100px;
}

.inner-nav{
    width: 100%;
    max-width: 1280px;
    /* background-color: turquoise; */
    display: flex;
    margin: 15px 25px;
    
}

.safe-width {
    width: 100%;
    max-width: 1280px;
    margin:  15px 25px;
}

.full-width-nav {
    width: 100% !important;
    border-radius: 0px !important;
    box-shadow: 0px 0 20px 6px #aeaeae2b !important;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}


.divisore{
    width: 0%;
    max-width: 1280px;
    height: 2px;
    background-color: #E7E7E7;
    animation-fill-mode: both;
}

.titolo{
    font-size: 4em;
    line-height: 91.7%;
}

@media only screen and (max-width: 600px) {
    .titolo{
        
        line-height: 91.7%;
        font-size: xxx-large;
    }
}

.torna-su{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px -2px rgb(0 0 0 / 18%);
    border-radius: 100%;
    z-index: 1000;
    transition-property: transform opacity;
    transition-duration: 0.3s;
    /* transform: translateY(0px); */
    cursor: pointer;
    transform: translateX(250px);
    opacity: 0;
}

/* .torna-su:hover {
    transform: translateY(-5px);
} */

.torna-su-visibile{
    transform: translateX(0px);
    opacity: 1;
}

#torna-su > a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#torna-su > a >div {
    transform: translateY(3px);
}